.app {
  text-align: center;
}

.app-header {
  position: relative;
  background-color: #282c34;
  background: url(.//images/bg1.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 300px;
}

.app-header .title {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.social {
  display: flex;
  margin: auto;
  padding-top: 10px;
  width: 20%;
  justify-content: space-between;
  list-style-type: none;
}

.icon {
  height: 30px;
  width: 30px;
}

.social li {
  transition: 0.5s;
  filter: grayscale();
}
.social li:nth-child(2) {
  filter: invert(37%) sepia(8%) saturate(0%) hue-rotate(154deg) brightness(98%)
    contrast(91%);
}

.social li:hover {
  filter: none;
}

.social li:nth-child(2):hover {
  filter: invert(100%) sepia(1%) saturate(778%) hue-rotate(326deg)
    brightness(121%) contrast(100%);
}

.nav {
  z-index: 2;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}
.nav li {
  width: 100%;
  border-right: 1px solid #bbb;
  transition: 0.3s;
}
.nav li:last-child {
  border-right: none;
}
.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.nav li:hover {
  background-color: #111;
}

.app-about {
  background-color: rgb(48, 47, 47);
  padding: 10px;
  color: rgb(250, 250, 250);
}

.profile-pic {
  max-block-size: 150px;
  border-radius: 15px;
}

.app-resume {
  background-color: whitesmoke;
  padding: 10px;
}

.app-port {
  position: relative;
  background: url(.//images/bg1.jpg);
  padding: 10px;
  height: 650px;
  color: #fff;
}

/* .app-port .title {
} */

.port {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: 85%;
  background: transparent;
  margin: 0;
  padding: 0;
}

.app-port .footer {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  text-align: center;
  padding: 10px;
  padding-bottom: 10px;
}

.port li {
  list-style: none;
  position: relative;
  width: 20%;
  height: 100%;
  border-right: 1px solid #000;
  float: left;
  box-sizing: border-box;
  transition: 0.5s;
  text-align: center;
  overflow: hidden;
}

.port li:nth-child(1) {
  background: url(.//images/rates-ps.png);
  background-size: cover;
  background-position: center;
}
.port li:nth-child(2) {
  background: url(.//images/recipe-ps.png);
  background-size: cover;
  background-position: center;
}
.port li:nth-child(3) {
  background: url(.//images/todo-ps.png);
  background-size: cover;
  background-position: center;
}
.port li:nth-child(4) {
  background: url(.//images/weather-ps.png);
  background-size: cover;
  background-position: center;
}
.port li:nth-child(5) {
  background: url(.//images/rates-ps.png);
  background-size: cover;
  background-position: center;
}

.port:hover li {
  width: 10%;
}
.port li:hover {
  width: 60%;
}

.port li .content {
  position: absolute;
  bottom: -1000%;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  color: #fff;
  opacity: 0;
}

.port li:hover .content {
  bottom: 0;
  transition: 0.7s;
  transition-delay: 0.3s;
  opacity: 1;
}

.app-contact {
  background-color: chartreuse;
  padding: 10px;

  position: relative;
}

.app-footer {
  background-color: black;
  color: white;
  }

  .copyright{
    color: grey;
    padding-top: 15px;
    font-size: 15px;
  }
