.app {
  text-align: center;
}

a:link {
  color: whitesmoke;
}

a:visited {
  color: gray;
}

a:hover {
  color: whitesmoke;
}

a:active {
  color: rgb(101, 101, 211);
}

h2 {
  margin-top: 10px;
}

.app-header {
  position: relative;
  background-color: #282c34;
  background: url(.//images/bg1.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 350px;
}

.title h3 {
  color: #fff;
  border-bottom: 2px solid #fff;
  padding-bottom: 5px;
}

.app-header .title {
  position: absolute;
  top: 50%;
  justify-content: center;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.social {
  display: flex;
  padding-top: 10px;
  list-style-type: none;
  justify-content: center;
  justify-content: space-around;
}

.icon {
  height: 30px;
  width: 30px;
}

.social li {
  transition: 0.5s;
  filter: grayscale();
}
.social li:nth-child(2) {
  filter: invert(37%) sepia(8%) saturate(0%) hue-rotate(154deg) brightness(98%)
    contrast(91%);
}

.social li:hover {
  filter: none;
}

.social li:nth-child(2):hover {
  filter: invert(100%) sepia(1%) saturate(778%) hue-rotate(326deg)
    brightness(121%) contrast(100%);
}

/* Style buttons */
.downloadbtn {
  background-color: rgb(19, 36, 53);
  border: none;
  color: white;
  padding: 10px 30px;
  cursor: pointer;
  font-size: 20px;
  margin-top: 10px;
  border-radius: 5px;
}

/* Darker background on mouse-over */
.downloadbtn:hover {
  background-color: rgb(101, 124, 194);
}

.opennavbtn {
  display: none;
  z-index: 10;
}

.closenavbtn {
  display: none;
}

.nav {
  z-index: 2;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

.nav li {
  width: 100%;
  border-right: 1px solid #bbb;
  transition: 0.3s;
}

.nav li:nth-child(5) {
  border-right: none;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.nav li:hover {
  background-color: #111;
}

.nav.rtl {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}
.nav.rtl li {
  width: 100%;
  border-right: 1px solid #bbb;
  transition: 0.3s;
}

.app-about {
  background-color: rgb(48, 47, 47);
  padding: 10px;
  color: rgb(250, 250, 250);
}

.profile-pic {
  max-block-size: 150px;
  border-radius: 15px;
}

.aboutme {
  margin: auto;
  max-width: 50%;
}

.app-resume {
  background-color: whitesmoke;
  padding: 10px;
}

.resume-section {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 50%;
}

.app-resume h3 {
  margin-top: 10px;
}

.app-resume h1 {
  text-decoration: underline;
  margin-top: 15px;
}

.skills {
  margin-bottom: 0px;
}

.skills h1 {
  margin-bottom: 10px;
}

.skills .icon {
  position: relative;
  width: 25px;
  height: 25px;
}

.skillname {
  font-size: 30px;
}

.language {
  margin-bottom: 0px;
}

.language h1 {
  margin-bottom: 10px;
}

.language .icon {
  width: 25px;
  height: 25px;
  bottom: 15px;
}

.language ul {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  list-style-type: none;
  margin: auto;
  max-width: 500px;
}

.languageName {
  font-size: 25px;
}

.app-port {
  position: relative;
  background: url(.//images/bg1.jpg);
  padding: 10px;
  height: 650px;
  color: #fff;
}

.port {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: 85%;
  background: transparent;
  margin: 0;
  padding: 0;
}

.app-port .footer {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  text-align: center;
  padding: 10px;
  padding-bottom: 10px;
}

.port li {
  list-style: none;
  position: relative;
  width: 20%;
  height: 100%;
  border-right: 1px solid #000;
  float: left;
  box-sizing: border-box;
  transition: 0.5s;
  text-align: center;
  overflow: hidden;
}

.port li:nth-child(1) {
  background: url(.//images/rates-ps.png);
  background-size: cover;
  background-position: center;
}
.port li:nth-child(2) {
  background: url(.//images/recipe-ps.png);
  background-size: cover;
  background-position: center;
}
.port li:nth-child(3) {
  background: url(.//images/todo-ps.png);
  background-size: cover;
  background-position: center;
}
.port li:nth-child(4) {
  background: url(.//images/weather-ps.png);
  background-size: cover;
  background-position: center;
}
.port li:nth-child(5) {
  background: url(.//images/SWgif.gif);
  background-size: cover;
  background-position: center;
}

.port:hover li {
  width: 10%;
}
.port li:hover {
  width: 60%;
}

.port li .content {
  position: absolute;
  bottom: -1000%;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  color: #fff;
  opacity: 0;
}

.port li:hover .content {
  bottom: 0;
  transition: 0.7s;
  transition-delay: 0.3s;
  opacity: 1;
}

.app-contact {
  background-color: rgb(52, 9, 87);
  padding: 10px;
  position: relative;
}

.app-contact-rtl {
  background-color: rgb(52, 9, 87);
  padding: 10px;
  position: relative;
  direction: rtl;
}

.form_wrapper {
  width: 70%;
  background: #6000aa;
  padding: 0%;
  display: block;
  margin: 0 auto;
}

.form_wrapper input,
.form_wrapper textarea {
  background: #8300e9;
  border: none;
  border-radius: 5px;
  width: 40%;
  color: #fff !important;
  font-weight: 700 !important;
  letter-spacing: 2px !important;
  padding: 17px 15px !important;
  margin: 2% 3%;
  resize: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

::placeholder {
  color: white;
}

input:focus,
input.text:focus,
.textarea:focus {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.form_wrapper textarea {
  white-space: pre-line;
  height: 150px;
  transition: width 1s, height 0.6s;
}

.form_wrapper textarea:focus {
  height: 200px;
  width: 86%;
}

.form_wrapper button {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 10px 12px;
  border-radius: 0;
  background: #19ffc0;
  color: rgba(0, 0, 0, 0.5);
  border: none;
  transition: box-shadow 0.2s ease-in-out;
  width: 100%;
}

.form_wrapper button:hover {
  background: #f2bf2f;
  color: #fff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.app-footer {
  background-color: black;
  color: white;
}

.copyright {
  color: grey;
  padding-top: 15px;
  font-size: 15px;
  padding-bottom: 5px;
}

/*dropdown*/

.langdrop {
  margin: auto;
  margin-right: 10px;
}

.dropdown {
  color: rgb(255, 251, 251);
  cursor: default;
}

.dropdown .selected-value {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 3px;
  line-height: 1.5;
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid transparent;
  box-sizing: border-box;
  outline: none;
  transition: all 200ms ease;
  width: 100%;
}

.dropdown .selected-value.rtl {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 8px;
}

.dropdown .options {
  display: block;
  background-color: transparent;
  border: 1px solid transparent;
  box-sizing: border-box;
  margin-top: -1px;
  opacity: 0;
  max-height: 0;
  position: absolute;
  top: 100%;
  z-index: 10;
  height: auto;
  transition: all 0.3s ease-in;
  -webkit-overflow-scrolling: touch;
  right: 0;
}

.dropdown .options.open {
  display: block;
  max-height: 200px;
  opacity: 1;
  right: 0;
}

.rtl.options {
  left: 0;
}

.rtl.options.open {
  display: block;
  max-height: 200px;
  opacity: 1;
  left: 0;
  margin: 0;
}

.dropdown .option {
  width: 120px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  padding: 8px 6px;
}

.divoption {
  width: 100px;
  cursor: pointer;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.divoption.rtl {
  width: 100px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  left: 0;
}

.dropdown .option.selected,
.dropdown .option:hover {
  background-color: #f2f9fc;
  color: #333;
}

.dropdown ::placeholder {
  color: black;
}

.dropdown img {
  cursor: pointer;
  height: 25px;
  width: 25px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  .opennavbtn {
    display: inherit;
    position: fixed;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(88deg)
      brightness(106%) contrast(102%);
    width: 40px;
    left: 10px;
    top: 10px;
    cursor: pointer;
    transition: all 0.5s ease-in;
    z-index: 10;
  }

  .opennavbtn.open {
    left: -40px;
  }

  .opennavbtn.rtl {
    left: inherit;
    right: 10px;
  }

  .opennavbtn.rtl.open {
    left: inherit;
    right: -40px;
  }

  .closenavbtn {
    display: inherit;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(88deg)
      brightness(106%) contrast(102%);
    width: 25px;
    cursor: pointer;
    margin-left: 15px;
    margin-top: 15px;
  }

  .closenavbtn.rtl {
    margin-left: inherit;
    margin-right: 15px;
  }

  .nav {
    display: inline;
    left: -150px;
    width: 150px;
    position: fixed;
    height: 100%;
    border-right: none;
    transition: all 0.5s ease-in;
    right: inherit;
    background-color: #340957;
  }

  .nav.open {
    display: inline;
    left: 0;
  }

  .nav li {
    display: flex;
    flex-direction: column;
    border-right: none;
    border-bottom: 1px solid #bbb;
  }
  .nav.rtl {
    display: inline;
    right: -150px;
    width: 150px;
    position: fixed;
    height: 100%;
    border-right: none;
    direction: rtl;
    transition: all 0.5s ease-in;
    left: inherit;
  }
  .nav.open.rtl {
    display: inline;
    right: 0;
  }

  .nav.rtl li {
    display: flex;
    flex-direction: column;
    border-right: none;
    border-bottom: 1px solid #bbb;
  }

  .langdrop {
    margin-right: inherit;
  }
  .dropdown {
    position: relative;
  }

  .dropdown .selected-value {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    transition: all 200ms ease;
    padding: inherit;
    margin-top: 5px;
  }

  .dropdown .selected-value.rtl {
    display: flex;
    justify-content: center;
    padding-left: inherit;
  }

  .dropdown .options {
    display: block;
    margin-top: -1px;
    opacity: 0;
    max-height: 0;
    position: relative;
    top: 100%;
    z-index: 10;
    height: auto;
    transition: all 0.3s ease-in;
    -webkit-overflow-scrolling: touch;
    padding: 0px 6px;
  }

  .dropdown .options.open {
    display: block;
    max-height: 200px;
    opacity: 1;
  }

  .rtl.options {
    left: inherit;
  }

  .dropdown .option {
    width: inherit;
    box-sizing: border-box;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    display: block;
    padding: inherit;
    border-bottom: 1px solid white;
    margin-bottom: 5px;
  }
  .divoption {
    width: inherit;
    padding: 4px;
  }

  .dropdown .option.selected,
  .dropdown .option:hover {
    background-color: #f2f9fc;
    color: #333;
  }

  .dropdown ::placeholder {
    color: black;
  }
}
